---
import { formatDate } from "@/scripts/utils";

interface Props {
    education: {
        institution: string;
        area: string;
        url: string;
        studyType: string;
        startDate: string;
        endDate: string;
        score: string;
        courses: string[];
    };
}

const { education } = Astro.props;
---

<div>
    <div class="flex justify-between">
        <h1 class="text-base font-semibold">{education.area}</h1>
        <h1 class="text-sm font-medium">
            {
                `${formatDate(education.startDate)} - ${formatDate(education.endDate)}`
            }
        </h1>
    </div>
    <h2 class="text-sm font-medium">
        <a href={education.url}>{education.institution}</a> -
        {education.studyType}
    </h2>
</div>
