---
import { basics } from '@/cv.json';
import Section from '@/components/Section.astro';

const { profiles } = basics;
---

<Section title=''>
    <div class="flex gap-5">
        <div>
            <h1 class="font-black text-3xl">{basics.name}</h1>
            <h2>{basics.label}</h2>
            <p>{basics.location.city}, {basics.location.region}</p>
        </div>
        <figure class="w-52">
            <img class="rounded-lg" src={basics.image} alt="profile" />
        </figure>
    </div>
</Section>