---
import { basics } from '@/cv.json';
import Section from '@/components/Section.astro';

const { profiles } = basics;
---

<Section title=''>
    <div class="container">
        <div>
            <h1>{basics.name}</h1>
            <h2>{basics.label}</h2>
            <p>{basics.location.city}, {basics.location.region}</p>
        </div>
        <figure>
            <img src={basics.image} alt="profile" />
        </figure>
    </div>
</Section>
<style>
    h1 {
        font-size: 3rem;
    }
    figure {
        width: 15rem;
    }
    img {
        border-radius: 1rem;
        border: solid black 0.2rem;
    }
    .container {
        display: flex;
    }
</style>
